trigger:
- azure-pipelines-dev
- azure-pipelines-test

resources:
  containers:
  - container: Kolga
    image: devops/azure-kolga-demo:azure-pipelines-dev
    endpoint: docker_anders_fi

pool:
  vmImage: 'Ubuntu 18.04'

variables:
- group: kolga-vars

stages:
#- stage: Build
#  displayName: Build image
#  jobs:
#  - job: Build
#    container: Kolga
#    displayName: Build
#    steps:
#      - script: pwd && export && ./devops create_images
- stage: Test
  displayName: Run tests
  jobs:
  - job: PreBuild
    displayName: PreTest
    steps:
      - bash: pwd && ls -la
  - job: Build
    dependsOn: PreBuild
    container: Kolga
    displayName: Test
    steps:
      - script: pwd && ls -la && export && ./devops test_setup && make test
        env:
          BUILT_DOCKER_TEST_IMAGE: docker.anders.fi/devops/azure-kolga-demo:azure-pipelines-dev
          TEST_WORKDIR: $(Agent.BuildDirectory)
