trigger:
- azure-pipelines-dev
- azure-pipelines-test

resources:
  containers:
  - container: Kolga
    image: devops/azure-kolga-demo:azure-pipelines-dev-development
    endpoint: docker_anders_fi

pool:
  vmImage: 'Ubuntu 18.04'

variables:
- group: kolga-vars

stages:
#- stage: Build
#  displayName: Build image
#  jobs:
#  - job: Build
#    container: Kolga
#    displayName: Build
#    steps:
#      - script: pwd && export && ./devops create_images
- stage: Test
  displayName: Run tests
  jobs:
  - job: PreTest
    displayName: PreTest
    steps:
      - bash: pwd && ls -la
  - job: GetTestImageName
    dependsOn: PreTest
    container: Kolga
    displayName: TestImage
    steps:
      - script: docker-compose version && docker-compose --help && docker-compose run --help
      - script: echo '##vso[task.setvariable variable=BUILT_DOCKER_TEST_IMAGE;isOutput=true]'$(./devops docker_test_image|tail -1)
        name: setVariable
      - script: pwd && ls -la && export && BUILT_DOCKER_TEST_IMAGE=$(setVariable.BUILT_DOCKER_TEST_IMAGE) ./devops test_setup 
  - job: Test
    dependsOn: GetTestImageName
    displayName: Test
    variables:
      BUILT_DOCKER_TEST_IMAGE: $[ dependencies.GetTestImageName.outputs['setVariable.BUILT_DOCKER_TEST_IMAGE'] ]
    steps:
      - script: docker-compose version && docker-compose --help && docker-compose run --help
      - script: pwd && ls -la && export && make test
  - job: TestStyle
    container: Kolga
    displayName: TestStyle
    steps:
      - script: pwd && ls -la && export && make style-tests
  - job: TestTyping
    container: Kolga
    displayName: TestTyping
    steps:
      - script: pwd && ls -la && export && make typing-tests
  - job: TestPackages
    container: Kolga
    displayName: TestPackages
    steps:
      - script: pwd && ls -la && export && make package-tests
  - job: TestDocs
    container: Kolga
    displayName: TestDocs
    steps:
      - script: pwd && ls -la && export && make docs
